<div class="container-fluid nav-background py-4">
    <h4 class="text-center navbar-dark text-white logo fs-2">Movie Club</h4>
    <nav class="navbar navbar-expand-md   navbar-dark">
            <ul class="navbar-nav mx-auto ">
              <li class="nav-item">
                <a class="nav-link" >Terms and Privacy Notice</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Send us Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">&copy; 1996-2021, Amazon.com, Inc. or its affiliates</a>
              </li>
            </ul>
      </nav>
    </div>
    
    
    
    
