<div class="home-background">
    <div class="row g-5 mb-4">
        <div class="col-md-7 order-md-1">
            <img src="../../assets/images/homepage1.jpg" class="img-fluid">
        </div>
        <div class="col-md-5  d-block m-auto order-md-0">
           <h1 class="text-center charm welcome-text ">Welcome to Movie Club</h1>
           <p class="text-center text-content courgette fs-5">Unlimited Movies, Watch Anywhere</p>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-md-7">
            <img src = "../../assets/images/homepage2.jpg" class="img-fluid">
        </div>
        <div class="col-md-5 d-block m-auto">
            <h1 class="text-center charm welcome-text ">Great Entertainment</h1>
            <p class="text-center text-content courgette fs-5">By Login to your account, you have access to watch movies </p>
        </div>
    </div>
</div>


